PORT=8080

DB_USER=searchly
DB_PASSWORD=searchly
DB_NAME=searchly
DB_PORT=5433
DATABASE_URL=postgres://searchly:searchly@localhost:5433/searchly?sslmode=disable

LOG_LEVEL=info
LOG_FORMAT=text

PROVIDER1_URL=https://raw.githubusercontent.com/WEG-Technology/mock/refs/heads/main/v2/provider1
PROVIDER2_URL=https://raw.githubusercontent.com/WEG-Technology/mock/refs/heads/main/v2/provider2
